<!DOCTYPE html>
<html lang="en" <%- helmet.htmlAttributes.toString()%> >
  <head>
    <% if(typeof head !='undefined'){ %>
      <%- helmet.title.toString() %>
      <%- helmet.meta.toString() %>
      <%- helmet.link.toString() %>
    <% }%>
    <meta charSet="utf-8"/>
    <meta name="google-site-verification" content="8lImoNlrgN6SUMLF6JHA4noM-Pb-14_bZt0TrHNRGho" />
    <title>Humaniq</title>
    <meta name="description" content="Humaniq is a simple and secure mobile app, delivering financial inclusion solutions globally."/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon/180x180.png"/>
    <link rel="icon" href="/img/apple-touch-icon/180x180.png"/>
    <link rel="image_src" type="image/png" href="https://humaniq.com/img/v1/home/social.png"/>
    <link rel="alternate" hrefLang="fr" href="https://humaniq.com/?locale=fr"/>
    <link rel="alternate" hrefLang="af" href="https://humaniq.com/?locale=af"/>
    <link rel="alternate" hrefLang="de" href="https://humaniq.com/?locale=de"/>
    <link rel="alternate" hrefLang="zh" href="https://humaniq.com/?locale=zh"/>
    <link rel="alternate" hrefLang="ru" href="https://humaniq.com/?locale=ru"/>
    <link rel="alternate" hrefLang="es" href="https://humaniq.com/?locale=es"/>
    <link rel="alternate" hrefLang="pt" href="https://humaniq.com/?locale=pt"/>
    <link rel="alternate" hrefLang="ja" href="https://humaniq.com/?locale=ja"/>
    <meta property="og:title" content="Humaniq"/>
    <meta property="og:url" content="https://humaniq.com"/>
    <meta property="og:description" content="Humaniq is a simple and secure mobile app, delivering financial inclusion solutions globally."/>
    <meta property="og:image" content="https://humaniq.com/img/v1/home/social.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="https://humaniq.com/img/v1/home/twitter.png"/>
    <meta name="twitter:site" content="@humaniq_co"/>
    <meta name="twitter:title" content="Humaniq"/>
    <meta name="twitter:description" content="Humaniq is a simple and secure mobile app, delivering financial inclusion solutions globally."/>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <% if(!__DEVELOPMENT__){ %>
      <link rel="stylesheet" type="text/css" href="/<%- webpackAssets('bundle', 'css') %>" />
    <% }%>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <!-- For preloader -->
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        .progress {
          position: relative;
          height: 4px;
          display: block;
          width: 100%;
          background-color: #FFEACC;
          border-radius: 2px;
          margin: 0;
          overflow: hidden;
        }
        .progress .determinate {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: #ff9800;
          -webkit-transition: width .3s linear;
          transition: width .3s linear;
        }
    </style>
    <!-- end preloader style block -->

  </head>
  <body>
    <div class="progress"><div class="determinate" style="width: 10%;"></div></div>
    <div id="container"><%- typeof content !='undefined' ? content : ''%></div>
    <% if(!__DEVELOPMENT__){ %>
      <script type="text/javascript" src="/<%- webpackAssets('vendor', 'js') %>"></script>
    <% }%>
    <% if(typeof initialState !='undefined'){ %>
      <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
    <% }%>
    <script type="text/javascript" src="/<%- webpackAssets('bundle', 'js') %>"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91023234-4', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
